SECRET_KEY
dtower.egg-info
components.egg-info
discord_bot.egg-info
data
db.sqlite3*
uploads
results_cache
backups
unrelated_scripts
components/static/
thetower/dtower/uploads_500*
Tower_Relics/
Tower_Skins/
try_tesseract
htmx_components/
secrets
/.vscode
.aider*
.env
